{% load static %}
<div class="navbar-fixed">
  <nav role="navigation" class="grey accent-2 darken-4">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'images/nav-logo.png' %}" alt="Blogghar" style="height:60px;width: 150;"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'users:profile' %}" class="dropdown-button"
              data-activates="user-dropdown" data-beloworigin="true" data-constrainwidth="false">
              <span>Welcome {{user.first_name}}</span> 
              <!--<img {% if user.profile.avatar %}
              src="{{ user.profile.avatar.url }}"
              {% else %}
              src="{% static 'images/user-profile-default.jpg' %}"
              {% endif %}class="profile-image right" style="width:40px;height: 40px;border-radius: 50%;" alt="">
          -->
            </a>
              <!-- user dropdown -->
              <ul id="user-dropdown" class="dropdown-content">
                <li>
                  <a href="{% url 'users:profile' %}">View profile</a>
                </li>
                <li>
                  <a href="{% url 'change_password' %}">Change pasword</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{% url 'logout' %}">Log out</a>
                </li>
              </ul>
          </li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'users:register' %}" class="btn white black-text waves-effect default">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
</nav>
</div>